.myfont{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    }
    .mydiv{
    font-weight: bold;
    padding: 15px;
    background-color : #FC620A;
    margin-top: 5px;
    border-radius: 2rem;
    }
    .myTitle{
    color: white;
    font-size: 20px;
    font-weight:bolder;
    position:relative;
    padding: 20px;
    border-radius: 2rem;
    }