div{
    color: rgb(11, 11, 12);
    text-align: center;
    font-weight: bold;
    font-size: 14;
    }
    .myClass{
    font-style: italic bold;
    font-size: 12;
    text-align: center;
    
    }
   